%h2 Текущий Режим Работы: #{TrafficLightMode.get}

%br
%br

%button{onclick: "location.href='standart'"} Стандартный режим
%button{onclick: "location.href='new_year'"} Режим "Новый год"

%br
%br

%h2 Текущая Ветка: #{TrafficLightBranch.get}

%br
%br

%form{action: '/choose', method: 'post'}
  %input{name: 'branch', type: 'text'}
  %button.finish{class: 'button'} Выбрать ветку
